/*
* @Author: Administrator
* @Date:   2017-06-03 11:58:07
* @Last Modified by:   Administrator
* @Last Modified time: 2017-12-22 16:07:31
*/
html,body{
	height: 100%;
}
body{
	background:#e9ecf3;
	position: relative;
}
.aside{
	width:200px;
	height: 100%;
	background: #fff;
	color: #2e2e2e;
}
.aside .boxbgcolor{
	width:200px;
	font-size:14px;
}
.aside .tab-content{
	padding:10px 15px 0;

}

.aside .public_list,.aside .public_btn{
	border: 1px dotted rgb(221,221,221);
    padding: 15px 0;
    margin-top: 15px;
}

.aside .public_list{
	overflow: auto;
	height:600px;
}

.info{
	position: absolute;
	/* margin-left:208px; */
	/* height:797px; */
	/* border: 1px solid #ddd; */
    background-color: #fff;
    /* border-radius: 4px; */
    /* box-shadow: 0 1px 1px rgba(0,0,0,.05); */
    top: 0;
    bottom: 0;
    left: 216px;
    right: 0;
}

.info .tab-content{
	padding:10px 15px 0;

}

.info .e-input{
	width:360px;
}

.info .list-group-item{
	border:0;
}

/* .info .panel .form_tips{
	background: #ccc;
	width: 200px;
	height: 34px;
} */

