/*
* @Author: Administrator
* @Date:   2017-06-06 17:16:38
* @Last Modified by:   Administrator
* @Last Modified time: 2018-01-11 14:31:46
*/
.moresearch .well{
	padding:0;
	border:0;
	margin-top: 20px;
	background: none;


}
